<!-- <form class="form-container">
  <label>Tipo do cliente: </label>
  <div class="form-line">
    <mat-radio-group formControlName="floatLabel">
      <mat-radio-button value="fisica">Pessoa Física</mat-radio-button>
      <mat-radio-button value="always">Pessoa Jurídica</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="form-line">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Digite o nome completo">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" placeholder="">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label></mat-label>
      <input matInput placeholder="Digite o nome completo">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Digite o nome completo">
    </mat-form-field>
  </div>
</form> -->
