<mat-card>
  <mat-card-title>Cliente</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="form-field">
        <div class="form-line">
          <mat-form-field [ngClass]="{'error': isFieldWarning('nome')}">
            <input matInput formControlName="nome" placeholder="nome">
            <mat-error *ngIf="isFieldWarning('nome')">
              <div [hidden]="!isRequired('nome')">Campo Obrigatório.</div>
            </mat-error>
          </mat-form-field>
          <mat-form-field [ngClass]="{'error': isFieldWarning('logradouro')}">
            <input matInput formControlName="logradouro" placeholder="Logradouro" required>
            <mat-error *ngIf="isFieldWarning('logradouro')">
              <div [hidden]="!isRequired('logradouro')">Campo Obrigatório.</div>
            </mat-error>
          </mat-form-field>
          <mat-form-field [ngClass]="{'error': isFieldWarning('numero')}">
            <input matInput formControlName="numero" placeholder="Número">
            <mat-error *ngIf="isFieldWarning('numero')">
            </mat-error>
          </mat-form-field>

          <mat-form-field [ngClass]="{'error': isFieldWarning('bairro')}">
            <input matInput formControlName="bairro" placeholder="Bairro" required>
            <mat-error *ngIf="isFieldWarning('bairro')">
              <div [hidden]="!isRequired('bairro')">Campo Obrigatório.</div>
            </mat-error>
          </mat-form-field>
          <mat-form-field [ngClass]="{'error': isFieldWarning('complemento')}">
            <input matInput formControlName="complemento" placeholder="Complemento">
            <mat-error *ngIf="isFieldWarning('complemento')">
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="middle">
    <button mat-raised-button color="primary" (click)="onSubmit()">Cadastrar</button>
    <div> {{ form.value | json }} </div>
  </mat-card-actions>
</mat-card>